<div class="row">
  <img *ngIf="!isLoadData" style=" position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="/assets/images/loading.gif"
  />
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="isAdmin && isLoadGroupByAdmin && isLoadData">
    <div class="row pie-charts">

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
          <div class="description">
            <div translate>Total Lecturers</div>
            <div class="description-stats">{{totalLecturers}}</div>
          </div>
        </div>
      </ba-card>


      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <div class="description">
            <div translate>Total Students</div>
            <div class="description-stats">{{totalStudents}}</div>
          </div>
        </div>
      </ba-card>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <div class="description">
            <div translate>Total Projects</div>
            <div class="description-stats">{{totalProjects}}</div>
          </div>
        </div>
      </ba-card>

      <ba-card class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="pie-chart-item">
          <div class="description">
            <div translate>Today</div>
            <div class="description-stats">{{today | date }}</div>
          </div>
        </div>
      </ba-card>
    </div>

  </div>


  <div class="widgets" *ngIf="isLecturer && isLoadData">
    <div class="row">
      <div *ngIf="isLecturer" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <h2>
          <a href="main/group" alt="View all">My Group is pending</a>
        </h2>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Project</th>
                <th>Supervisor</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groups.items; let rowIndex = index">
                <th scope="row">{{rowIndex+1}}</th>
                <td>{{group.groupName}}</td>
                <td>{{group.project.title}}</td>
                <td>{{group.lecturer.name}}</td>
                <td [ngClass]="group.isConfirm == 'Pending' ? 'blue': 'green'">
                  <b>{{group.isConfirm}}</b>
                </td>
                <td>
                  <button class="btn btn-warning" [routerLink]="['/main/group-details/', group.groupId]" title="View details of this group">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="isLecturer" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <h2>
          <a href="main/confirm-group" alt="View all">My Group is Accepted</a>
        </h2>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Project</th>
                <th>Supervisor</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groupsAccepted.items; let rowIndex = index">
                <th scope="row">{{rowIndex+1}}</th>
                <td>{{group.groupName}}</td>
                <td>{{group.project.title}}</td>
                <td>{{group.lecturer.name}}</td>
                <td [ngClass]="group.isConfirm == 'Pending' ? 'blue': 'green'">
                  <b>{{group.isConfirm}}</b>
                </td>
                <td>
                  <button class="btn btn-warning" [routerLink]="['/main/group-details/', group.groupId]" title="View details of this group">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="isLecturer" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <h2>
          <a href="main/confirm-group" alt="View all">My Grading Groups</a>
        </h2>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Project</th>
                <th>Supervisor</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of groupsInBoard; let rowIndex = index">
                <th scope="row">{{rowIndex+1}}</th>
                <td>{{element.group.groupName}}</td>
                <td>{{element.group.project.title}}</td>
                <td>{{element.group.lecturer.name}}</td>
                <td [ngClass]="element.group.isConfirm == 'Pending' ? 'blue': 'green'">
                  <b>{{element.group.isConfirm}}</b>
                </td>
                <td>
                  <button [ngClass]="element.isGraded ? 'btn btn-assign': 'btn btn-warning'" [routerLink]="['/main/group-details/', element.group.groupId]" title="View details of this group">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>



  <div class="widgets" *ngIf="isAdmin && isLoadGroupByAdmin && isLoadData">
    <div class="row">
      <div *ngIf="isAdmin" class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12">
        <h2>
          <a href="main/confirm-group" alt="View all">All group</a>
        </h2>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Project</th>
                <th>Supervisor</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groupByAdmin.items; let rowIndex = index">
                <th scope="row">{{rowIndex+1}}</th>
                <td>{{group.groupName}}</td>
                <td>{{group.project.title}}</td>
                <td>{{group.lecturer.name}}</td>
                <td [ngClass]="group.isConfirm == 'Pending' ? 'blue': 'green'">
                  <b>{{group.isConfirm}}</b>
                </td>
                <td>
                  <button class="btn btn-warning" [routerLink]="['/main/group-details/', group.groupId]" title="View details of this group">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="widgets" *ngIf="isStudent && isLoadData">
    <div class="row">
      <div *ngIf="isStudent" class="col-md-12 col-sm-12 col-xs-12">
        <h2>
          <a href="main/confirm-group" alt="View all">My Group</a>
        </h2>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Project</th>
                <th>Supervisor</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groupsStudent.items; let rowIndex = index">
                <th scope="row">{{rowIndex+1}}</th>
                <td>{{group.groupName}}</td>
                <td>{{group.project.title}}</td>
                <td>{{group.lecturer.name}}</td>
                <td [ngClass]="group.isConfirm == 'Pending' ? 'blue': 'green'">
                  <b>{{group.isConfirm}}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>