<div class="page-title">
  <div class="title_left">
    <h3>Manage major</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Input role...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li *ngIf="isAdmin" [hidden]="isAdmin" >
            <button class="btn btn-success" (click)="showAddModal()">Add</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Code</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let major of queryResult.items">
              <td>#</td>
              <td>{{major.majorName}}</td>
              <td>{{major.majorCode}}</td>
              <td>
                <button  *ngIf="isAdmin" [hidden]="isAdmin" class="btn btn-primary" (click)="showEditModal(major.majorId)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button  *ngIf="isAdmin" [hidden]="isAdmin" class="btn btn-danger" (click)="deletemajor(major.majorId)">
                  <i class="fa fa-trash"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>         

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/Edit major</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="major">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="major.majorId" name="id" />
              <input type="text" #majorName="ngModel" [(ngModel)]="major.majorName" required name="majorName" class="form-control">
              <small [hidden]="majorName.valid || (majorName.pristine && !addEditForm.submitted)" class="text-danger">
                Major Name is required                
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Code</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #majorCode="ngModel" [(ngModel)]="major.majorCode" required name="majorCode" class="form-control">
              <small [hidden]="majorCode.valid || (majorCode.pristine && !addEditForm.submitted)" class="text-danger">
                Major Code is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid || isClicked">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
