<div class="widgets">
  <img *ngIf="!isLoadData && !isLoadGit && !isLoadDataCommit" style=" position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;"
    src="/assets/images/loading.gif" />
  <div class="row" *ngIf="(isLoadData && isLoadGit && isLoadDataCommit) || (isLoadData && !isHaveGithub)">
    <div *ngIf="isSendForm" class="col-lg-12 col-md-12">
      <button *ngIf="isAdmin" class="btn btn-sendform" style="float: right;" (click)="sendForm(group.boardId)"> Send Form</button>
      <button *ngIf="!isAdmin" disabled class="btn btn-disabled" style="float: right;"> Send Form</button>
      <button *ngIf="isAdmin" class="btn btn-primary" style="float: right;" (click)="calculateScore(group.boardId)"> Finalize</button>
      <button *ngIf="!isAdmin" disabled class="btn btn-disabled" style="float: right;"> Finalize</button>
      <button *ngIf="isLecturer && hasBoard" class="btn btn-mark" style="float: right;" (click)="mark(group.boardId)" translate> Grade this group</button>
      <button *ngIf="!isLecturer && hasBoard" disabled class="btn btn-disabled" style="float: right;" translate> Grade this group</button>
      <button *ngIf="isAdmin" class="btn btn-assign" style="float: right;" (click)="assignBoard(group.groupId)" translate> Assign board</button>
      <button *ngIf="!isAdmin" disabled class="btn btn-disabled" style="float: right;" translate> Assign board</button>
    </div>
    <div *ngIf="!isSendForm" class="col-lg-12 col-md-12">
      <span style="float: right;">
        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </span>
      <span style="float: right;">
        <h4 class="green">Sending form to lecturers...</h4>
      </span>
    </div>
    <br />
    <div class="col-12 col-sm-6 col-md-8">
      <h2>Summary Project</h2>

      <div *ngIf="isHaveGithub" class="row pie-charts">
        <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

          <div class="pie-chart-item">

            <div class="description">
              <div translate>Major</div>
              <div class="description-stats">{{group.major.majorCode}}</div>
            </div>
          </div>

        </div>
        <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

          <div class="pie-chart-item">

            <div class="description">
              <div translate>Commits</div>
              <div class="description-stats">{{commits}}</div>
            </div>
          </div>

        </div>
        <div class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12">

          <div class="pie-chart-item">

            <div class="description">
              <div translate>Languages</div>
              <div class="description-stats"> {{github.language}}</div>
            </div>
          </div>

        </div>
      </div>
      <br />

      <div *ngIf="isHaveGithub" id="mainb">
        <chart type="line" [options]="options" [data]="data"></chart>
      </div>
      <br />
      <br />
      <br />
      <br />

      <!--All Recommendations-START-->
      <h4>Lecturers' recommendations</h4>
      <br />
      <br />
      <div class="messages" *ngFor="let item of groupRecommendations; let i = index" [attr.data-index]="i">
        <div class="row">
          <div class="xs-12 col-md-8">
            <h5 class="heading">#{{ i+1 }}</h5>
            <p class="message">{{ item.description }}</p>
          </div>
          <div class="xs-6 col-md-4">
            <button *ngIf="!isReviewer" disabled [ngClass]="item.isDone == true ? 'btn btn-assign': 'btn btn-danger'" (click)="markRecommendation(i)" title="Mark this recommendation as done (as check symbol) or not (no check symbol)">
              <i *ngIf="!item.isDone" class="fa fa-circle"></i>
              <i *ngIf="item.isDone" class="fa fa-check-circle"></i>
            </button>
            <button *ngIf="isReviewer" [ngClass]="item.isDone == true ? 'btn btn-assign': 'btn btn-danger'" (click)="markRecommendation(i)" title="Mark this recommendation as done (as check symbol) or not (no check symbol)">
                <i *ngIf="!item.isDone" class="fa fa-circle"></i>
                <i *ngIf="item.isDone" class="fa fa-check-circle"></i>
            </button>
          </div>

        </div>
      </div>
    <!--All Recommendations-END-->
    </div>

    <div class="col-6 col-md-4">
      <h2>Group Description</h2>
      <div class="panel-body">
        <h3 class="green">
          <i class="fa fa-paint-brush"></i> {{group.groupName}}
        </h3>

        <p class="text-align:center;">{{group.project.description}}</p>
        <br />

        <div class="project_detail">

          <b class="font-weight: bold;">School</b>
          <p>EASTERN INTERNATIONAL UNIVERSITY</p>
          <b class="font-weight: bold;">Supervisor</b>
          <p>{{group.lecturer.name}}</p>
          <b class="font-weight: bold;">Github</b>
          <p>
            <a href="{{group.linkGitHub}}">{{group.linkGitHub}}</a>
            <a *ngIf="!isHaveGithub">(None)</a>
          </p>
          <b class="font-weight: bold;">Contributors</b>
          <p *ngFor="let student of group.studentEmails">{{student}}</p>

        </div>

        <br />
        <h5>Project files</h5>
        <ul class="list-unstyled project_files" *ngFor="let file of group.uploadFilesInformation">
          <li>
            <button (click)="showDownloadModal(file.uploadedFileId)">
              <i class="{{file.url}}"></i> {{file.title}} </button>
          </li>
        </ul>
        <br />

        <div class="text-center mtop20">
          <a *ngIf="isLecturer || isStudent" class="btn btn-sm btn-primary" (click)="showUploadModal()">Add files</a>
          <a *ngIf="isHaveGithub" href="{{this.linkDowload}}" class="btn btn-sm btn-warning">Source code</a>
        </div>

        <br />
        
        <div *ngIf="isLoadGrade" class="panel-body">
          <h2>
            Rank:
            <a *ngIf="group.resultGrade" style="font-size: 3.5vw">{{group.resultGrade}}</a>
          </h2>
          <h2>
            Grade:
            <a *ngIf="group.resultScore">{{group.resultScore}}</a>
          </h2>
        </div>
        <div *ngIf="!isLoadGrade" class="panel-body">
          <img style=" position: absolute;margin: auto;top: 31em;left: auto;right: auto;bottom: 0;transform: scale(0.7); filter: brightness(0.7);"
            src="/assets/images/loading.gif" />
          <br />
          <h3 class="red" style="margin-top: 4em;">Calculating grade and score...</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Mark-->
<div bsModal #modalMark="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)" (onHidden)="handler('onHidden', $event)">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: #7FFFD4">
      <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">Grade This Group</h4> -->
        <span *ngIf="!isLoadMark" class="fa fa-refresh fa-spin"></span>
        <button type="button" class="close pull-right" (click)="hidemodalMark()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <h4 align="center">TRƯỜNG ĐH QUỐC TẾ MIỀN ĐÔNG</h4>
        <h4 align="center">KHOA KỸ THUẬT</h4>
        <br/>
        <h4 align="center">PHIẾU CHẤM ĐỒ ÁN CHUYÊN NGÀNH</h4>
        <h4 align="center">NGÀNH {{ this.group.major.majorName.toUpperCase( ) }}</h4>
        
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #markForm="ngForm" (ngSubmit)="saveMark(markForm)" *ngIf="boardEnrollment && isLoadMark">

          <input type="hidden" [(ngModel)]="boardEnrollment.boardEnrollmentId" name="boardEnrollment.boardEnrollmentId" />
          <input type="hidden" [(ngModel)]="boardEnrollment.percentage" name="boardEnrollment.percentage" />
          <input type="hidden" [(ngModel)]="boardEnrollment.lecturerId" name="boardEnrollment.lecturerId" />
          <input type="hidden" [(ngModel)]="boardEnrollment.boardID" name="boardEnrollment.boardID" />

          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">TÊN ĐỀ TÀI</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <span class="form-control">{{ this.group.project.title }}</span>
              </div>
          </div>

          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ và tên sinh viên:</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <span class="form-control" *ngFor="let stu of group.studentInformations">{{ stu.name }}</span>
              </div>
          </div>
          
          <div class="form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12">Họ và tên giảng viên chấm điểm:</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <span class="form-control">{{ 'Huỳnh Tấn Phước' }}</span>
              </div>
          </div>

          <div class="form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12">Thời gian bắt đầu báo cáo:</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <span class="form-control">{{ ' ' }}</span>
              </div>
          </div>

          <div class="form-group">
              <label class="control-label col-md-4 col-sm-4 col-xs-12">Thời gian kết thúc báo cáo:</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <span class="form-control">{{ ' ' }}</span>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Nội dung chấm điểm</th>
                        <th>Điểm tối đa</th>
                        <th>Điểm</th>
                        <th>Ghi chú</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="font-weight: bold;">PHẦN BÁO CÁO</td>
                        <td style="font-weight: bold;">80</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                          <td>Trình bày tốt (chuẩn bị slide tốt, trình bày rõ ràng đúng thời hạn)</td>
                          <td>20</td>
                          <td><input class="form-control" type="number" value="20"></td>
                          <td><textarea class="form-control" rows="2">Slide sinh động, trình bày tốt</textarea></td>
                      </tr>
                      <tr>
                          <td>Nội dung đề tài đạt yêu cầu đặt ra, có tính khoa học</td>
                          <td>20</td>
                          <td><input class="form-control" type="number" value="15"></td>
                          <td><textarea class="form-control" rows="2">Rất tốt nhưng cần nghiên cứu sâu hơn</textarea></td>
                      </tr>
                      <tr>
                          <td>Phương pháp thực hiện tốt</td>
                          <td>20</td>
                          <td><input class="form-control" type="number" value="17"></td>
                          <td><textarea class="form-control" rows="2">Nên sử dụng những công nghệ mới hơn</textarea></td>
                      </tr>
                      <tr>
                          <td>Kết quả đề tài có áp dụng thực tế</td>
                          <td>10</td>
                          <td><input class="form-control" type="number" value="8"></td>
                          <td><textarea class="form-control" rows="2">Áp dụng được nhiều lĩnh vực</textarea></td>
                      </tr>
                      <tr>
                          <td>Đề tài mới hoặc phương pháp thực hiện có tính sáng tạo</td>
                          <td>10</td>
                          <td><input class="form-control" type="number" value="8"></td>
                          <td><textarea class="form-control" rows="2">Đề tài có độ thực tiễn cao</textarea></td>
                      </tr>
                      <tr>
                          <td style="font-weight: bold;">PHẦN TRẢ LỜI</td>
                          <td style="font-weight: bold;">20</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Trả lời tập trung vào đề tài, trả lời tốt câu hỏi</td>
                          <td>20</td>
                          <td><input class="form-control" type="number" value="15"></td>
                          <td><textarea class="form-control" rows="2">Trả lời hợp lí dứt khoát</textarea></td>
                      </tr>
                      <tr>
                          <td style="font-weight: bold;">TỔNG CỘNG</td>
                          <td style="font-weight: bold;">100</td>
                          <td style="font-weight: bold;">{{ 83 }}</td>
                          <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          <!-- <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mark</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="number" class="form-control" [(ngModel)]="boardEnrollment.score" name="boardEnrollment.score" required #mark="ngModel" />
              <small [hidden]="mark.valid || (mark.pristine && !markForm.submitted)" class="text-danger">
                Please specify the score </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Comment</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea type="text" class="form-control" [(ngModel)]="boardEnrollment.comment" name="boardEnrollment.comment" required
                #comment="ngModel"></textarea>
              <small [hidden]="comment.valid || (comment.pristine && !comment.submitted)" class="text-danger">
                Please specify the comment </small>
            </div>
          </div> -->

          <!--Recommendation-START-->
          <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">Recommendations</label>
          <div class="form-group">
              <form class="col-md-9 col-sm-9 col-xs-12" #recommendationForm="ngForm">
                  <input class="form-control" style="padding-right: 4.13em;" type="text" [(ngModel)]="recommendationDescription" name="Recommendation" />
                  <button class="form-horizontal btn btn-mark" (click)="addRecommendation(boardEnrollment.boardEnrollmentId, recommendationForm)" style="float: right; margin-top: -2.3em; margin-right: 0.13em;" title="Add this recommendation"><i class="fa fa-plus"></i></button>
              </form>
              <br />
              <ul class="col-md-9 col-sm-9 col-xs-12" *ngFor="let item of recommendations; let i = index" [attr.data-index]="i">
                  {{ item.description }}
                  <button class="btn btn-danger" style="float: right; margin-right: 0.13em;" (click)="removeRecommendation(i)" title="Remove this recommendation"><i class="fa fa-minus"></i></button>
              </ul>
              
          </div> -->
          <!--Recommendation-END-->
          <br/>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hidemodalMark()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!markForm.valid || isSaved">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal board-->
<div bsModal #modalBoard="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)" (onHidden)="handler('onHidden', $event)">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: #7FFFD4">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Assign Board</h4>
        <span *ngIf="!isLoadBoard" class="fa fa-refresh fa-spin"></span>
        <button type="button" class="close pull-right" (click)="hidemodalBoard()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveBoard(addEditForm)" *ngIf="board && boardEnrollments && isLoadBoard">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Chair</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="board.boardId" name="boardId" />
              <select class="form-control" [(ngModel)]="boardEnrollments.chair.lecturerId" (change)="onLecturerChange($event.target.value, 'chair')" name="boardEnrollments.chair.name" required
                #chair="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="chair.valid || (chair.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the chair </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.chair.scorePercent" (change)="onScorePercentChange()" name="boardEnrollments.chair.scorePercent"
                required #scorePercentChair="ngModel">
                <option type="number" *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentChair.valid || (scorePercentChair.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Secretary</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.secretary.lecturerId" (change)="onLecturerChange($event.target.value, 'secretary')" name="boardEnrollments.secretary.name" required
                #secretary="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="secretary.valid || (secretary.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the secretary </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.secretary.scorePercent" (change)="onScorePercentChange()" name="boardEnrollments.secretary.scorePercent"
                required #scorePercentSecretary="ngModel">
                <option type="number" *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentSecretary.valid || (scorePercentSecretary.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Supervisor</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input disabled class="form-control" value="{{boardEnrollments.supervisor.name}}" style="color: black" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.supervisor.scorePercent" (change)="onScorePercentChange()" name="boardEnrollments.supervisor.scorePercent"
                required #scorePercentSupervisor="ngModel">
                <option value=""></option>
                <option type="number" *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentSupervisor.valid || (scorePercentSupervisor.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Reviewer</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.reviewer.lecturerId" (change)="onLecturerChange($event.target.value, 'reviewer')" name="boardEnrollments.reviewer.name" required
                #reviewer="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="reviewer.valid || (reviewer.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the reviewer </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.reviewer.scorePercent" (change)="onScorePercentChange()" name="boardEnrollments.reviewer.scorePercent"
                required #scorePercentReviewer="ngModel">
                <option type="number" *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentReviewer.valid || (scorePercentReviewer.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hidemodalBoard()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.valid || isSaved || isConflict">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal upload -->
<div bsModal #modalUpload="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: #7FFFD4;">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add File</h4>
        <button type="button" class="close pull-right" (click)="hidemodalUpload()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #modalUpload="ngForm" (ngSubmit)="saveChange(modalUpload)" *ngIf="uploadedFile">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #title="ngModel" [(ngModel)]="uploadedFile.title" required name="title" class="form-control">
              <small [hidden]="title.valid || (title.pristine && !modalUpload.submitted)" class="text-danger">
                Student Code is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="uploadedFile.groupId" name="id" />
              <input type="text" #description="ngModel" [(ngModel)]="uploadedFile.description" required minlength="1" name="name" class="form-control">
              <small [hidden]="description.valid || (description.pristine && !modalUpload.submitted)" class="text-danger">
                At least 1 characters
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Add File</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="file" #fileInput class="form-control">
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hidemodalUpload()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!modalUpload.form.valid || isClicked">Add</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal download -->
<div bsModal #modalDownload="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: #7FFFD4">
      <div class="modal-header">
        <h4 class="modal-title pull-left">File Information</h4>
        <button type="button" class="close pull-right" (click)="hidemodalDownload()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #modalDownload="ngForm" (ngSubmit)="download(modalUpload)" *ngIf="file">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #title="ngModel" [(ngModel)]="file.title" required name="title" class="form-control">
              <small [hidden]="title.valid || (title.pristine && !modalDownload.submitted)" class="text-danger">
                Student Code is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="file.groupId" name="id" />
              <input type="text" #description="ngModel" [(ngModel)]="file.description" required minlength="1" name="name" class="form-control">
              <small [hidden]="description.valid || (description.pristine && !modalDownload.submitted)" class="text-danger">
                At least 1 characters
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hidemodalDownload()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!modalDownload.form.valid || isClicked">Download</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>