<div class="page-title">
  <div class="title_left">
    <h3>Manage group</h3>
  </div>
  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Input role...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Add</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Project</th>
              <th>Supervisor</th>
              <th>Status</th>              
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groups">
              <td>{{group.groupId}}</td>
              <td>{{group.groupName}}</td>
              <td>{{group.project.title}}</td>
              <td>{{group.lecturer.name}}</td>
              <td>{{group.isConfirm}}</td>              
              <td>
                <button class="btn btn-primary" (click)="showEditModal(group.groupId)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteGroup(group.groupId)">
                  <i class="fa fa-trash"></i>
                </button>
                <button *ngIf="isStudent" class="btn btn-info" (click)="joinGroup(group.groupId)">
                  <i class="fa fa-sign-in"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/Edit group</h4>
        <span *ngIf="!isLoading" class="fa fa-refresh fa-spin"></span>        
        <button type="button" class="close pull-right" (click)="hideAddEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="group && isLoading">          
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Group Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="group.groupId" name="groupId" />
              <input type="text" #groupName="ngModel" [(ngModel)]="group.groupName" required minlength="10" name="groupName" class="form-control">
              <small [hidden]="groupName.valid || (groupName.pristine && !addEditForm.submitted)" class="text-danger"> At least 10 characters </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Quarter</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.quarterId" name="quarterId" required #quarter="ngModel">
                <option value=""></option>
                <option *ngFor="let q of quarters" value="{{q.quarterId}}">{{ q.quarterName }}</option>
              </select>
              <small [hidden]="quarter.valid || (quarter.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the quarter </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Major</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.majorId" (change)="onMajorChange()" name="majorId" required #major="ngModel">
                <option value=""></option>
                <option *ngFor="let m of majors" value="{{m.majorId}}">{{ m.majorName }}</option>
              </select>
              <small [hidden]="major.valid || (major.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the major </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Supervisor</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.lecturerId" name="lecturerId" required #lecturer="ngModel">
                <option value=""></option>
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="lecturer.valid || (lecturer.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the lecturer </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Project</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.projectId" name="projectId" required #project="ngModel">
                <option value=""></option>
                <option *ngFor="let p of projects" value="{{p.projectId}}">{{ p.title }}</option>
              </select>
              <small [hidden]="project.valid || (project.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the project </small>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hideAddEditModal()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid || isClicked">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!--Modal add and edit Enrollment-->
<div bsModal #enrollmentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create Enrollment</h4>             
        <span *ngIf="!isLoading" class="fa fa-refresh fa-spin"></span>
        <button type="button" class="close pull-right" (click)="hideEnrollmentModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #enrollmentForm="ngForm" (ngSubmit)="applyEnrollment(enrollmentForm.valid)"
          *ngIf="enrollment && isLoading">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Student Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="enrollment.enrollmentId" name="enrollmentId" />
              <input disabled type="text" #studentEmail="ngModel" [(ngModel)]="enrollment.studentEmail" required minlength="10" name="studentEmail"
                class="form-control">
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Quarter</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select disabled class="form-control" [(ngModel)]="enrollment.quarterId" name="quarter" required #quarter="ngModel">
                <option value=""></option>
                <option *ngFor="let q of quarters" value="{{q.quarterId}}">{{ q.quarterName }}</option>
              </select>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input disabled type="text" #type="ngModel" [(ngModel)]="enrollment.type" required minlength="10" name="type"
                class="form-control">
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hideEnrollmentModal()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!enrollmentForm.form.valid || isClicked">Apply</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
