<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Group Detail</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <img *ngIf="!isLoading" style=" position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="/assets/images/loading.gif"
  />
  <div class="clearfix"></div>

  <div class="row" *ngIf="isLoading">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Summary Project</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-wrench"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content" *ngIf="isLoading && isLoadGit && isLoadDataCommit">

          <div class="col-md-9 col-sm-9 col-xs-12">

            <ul class="stats-overview">
              <li>
                <span class="name"> Commits </span>
                <span class="value text-success"> {{commits}} </span>
              </li>
              <li>
                <span class="name"> Languages </span>
                <span class="value text-success"> {{github.language}} </span>
              </li>
              <li class="hidden-phone">
                <span class="name"> Major </span>
                <span class="value text-success"> 20 </span>
              </li>
            </ul>
            <br />

            <div id="mainb" style="height:450px;">
              <chart type="line" [options]="options" [data]="data"></chart>
            </div>
            <div>

              <h4>Recent Activity</h4>

              <!-- end of user messages -->
              <ul class="messages" *ngFor="let commit of commitDetails">
                <li>
                  <div class="message_date">
                    <h3 class="date text-info">{{commit.commit.author.date | date}}</h3>
                  </div>
                  <div class="message_wrapper">
                    <h4 class="heading">{{commit.commit.author.name}}</h4>
                    <blockquote class="message">{{commit.commit.message}}</blockquote>
                  </div>
                </li>
                <br/>
                <br/>
              </ul>
              <!-- end of user messages -->


            </div>


          </div>

          <!-- start project-detail sidebar -->
          <div class="col-md-3 col-sm-3 col-xs-12">

            <section class="panel">

              <div class="x_title">
                <h2>Group Description</h2>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <h3 class="green">
                  <i class="fa fa-paint-brush"></i> {{group.groupName}}</h3>

                <p>{{group.project.description}}</p>
                <br />

                <div class="project_detail">

                  <p class="title">School</p>
                  <p>EASTERN INTERNATIONAL UNIVERSITY</p>
                  <p class="title">Supervisor</p>
                  <p>{{group.lecturer.name}}</p>
                  <p class="title">Github</p>
                  <p>
                    <a href="{{github.html_url}}">{{github.html_url}}</a>
                  </p>
                  <p class="title">Contributors</p>
                  <p *ngFor="let student of group.enrollments">{{student.student.name}}</p>

                </div>

                <br />
                <h5>Project files</h5>
                <ul class="list-unstyled project_files" *ngFor="let file of group.uploadedFiles">
                  <li>
                    <button (click)="showDownloadModal(file.uploadedFileId)">
                      <i class="{{file.url}}"></i> {{file.title}}</button>
                  </li>
                </ul>
                <br />

                <div class="text-center mtop20">
                  <a class="btn btn-sm btn-primary" (click)="showUploadModal()"> Add files</a>
                  <a href="{{this.linkDowload}}" class="btn btn-sm btn-warning">Dowload Project in Github</a>
                </div>
              </div>

            </section>

          </div>
          <!-- end project-detail sidebar -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal upload -->
<div bsModal #modalUpload="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add File</h4>
        <button type="button" class="close pull-right" (click)="modalUpload.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #modalUpload="ngForm" (ngSubmit)="saveChange(modalUpload)" *ngIf="uploadedFile">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #title="ngModel" [(ngModel)]="uploadedFile.title" required name="title" class="form-control">
              <small [hidden]="title.valid || (title.pristine && !modalUpload.submitted)" class="text-danger">
                Student Code is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="uploadedFile.groupId" name="id" />
              <input type="text" #description="ngModel" [(ngModel)]="uploadedFile.description" required minlength="1" name="name" class="form-control">
              <small [hidden]="description.valid || (description.pristine && !modalUpload.submitted)" class="text-danger">
                At least 1 characters
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Add File</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="file" #fileInput class="form-control">
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalUpload.hide()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!modalUpload.form.valid || isClicked">Add</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal download -->
<div bsModal #modalDownload="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">File Information</h4>
        <button type="button" class="close pull-right" (click)="modalDownload.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #modalDownload="ngForm" (ngSubmit)="download(modalUpload)" *ngIf="file">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #title="ngModel" [(ngModel)]="file.title" required name="title" class="form-control">
              <small [hidden]="title.valid || (title.pristine && !modalDownload.submitted)" class="text-danger">
                Student Code is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="file.groupId" name="id" />
              <input type="text" #description="ngModel" [(ngModel)]="file.description" required minlength="1" name="name" class="form-control">
              <small [hidden]="description.valid || (description.pristine && !modalDownload.submitted)" class="text-danger">
                At least 1 characters
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalDownload.hide()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!modalDownload.form.valid || isClicked">Download</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>