<div class="page-title">
  <div class="title_left">
    <h3>Manage Student</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Input role...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Add</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Student Code</th>
              <th>Name</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of queryResult.items">
              <td>#</td>
              <td>{{student.studentCode}}</td>
              <td>{{student.name}}</td>
              <td>{{student.email}}</td>
              <td>
                <button class="btn btn-primary" (click)="showEditModal(student.id)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteStudent(student.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>         

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/Edit Student</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="student">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Student Code</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #studentCode="ngModel" [(ngModel)]="student.studentCode" required name="studentCode" class="form-control">
              <small [hidden]="studentCode.valid || (studentCode.pristine && !addEditForm.submitted)" class="text-danger">
                Student Code is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="student.id" name="id" />
              <input type="text" #name="ngModel" [(ngModel)]="student.name" required minlength="10" name="name" class="form-control">
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                At least 10 characters
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #email="ngModel" [(ngModel)]="student.email" required name="email" class="form-control">
              <small [hidden]="email.valid || (email.pristine && !addEditForm.submitted)" class="text-danger">
                Email is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #address="ngModel" [(ngModel)]="student.address" required name="address" class="form-control">
              <small [hidden]="address.valid || (address.pristine && !addEditForm.submitted)" class="text-danger">
                Address is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone number</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #phone="ngModel" [(ngModel)]="student.phoneNumber" required name="phone" class="form-control">
              <small [hidden]="phone.valid || (phone.pristine && !addEditForm.submitted)" class="text-danger">
                Phone number is required
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>          
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Major</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="student.majorId" name="majorId" required #major="ngModel">
                <option value=""></option>
                <option *ngFor="let m of majors" value="{{m.majorId}}">{{ m.majorName }}</option>
              </select>
              <small [hidden]="major.valid || (major.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the major </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid || isClicked">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
