<div class="widgets">
    <img *ngIf="!isLoadData" style=" position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="/assets/images/loading.gif"
    />
    <div class="row" *ngIf="isLoadData">
      <div class="col-lg-12 col-md-12">
        <button class="btn btn-success" style="float: right;" (click)="showAddModal()" translate>Add</button>
      </div>
      <br/>
      <br/>
      <br/>
  
      <div class="col-lg-12 col-md-12">
        <ba-card cardTitle="groups" isAddButton=true baCardClass="with-scroll table-panel">
          <div class="horizontal-scroll">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Project</th>
                  <th>Supervisor</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of queryResult.items; let rowIndex = index">
                  <td>{{rowIndex+1}}</td>
                  <td>{{group.groupName}}</td>
                  <td>{{group.project.title}}</td>
                  <td>{{group.lecturer.name}}</td>
                  <td [ngClass]="group.isConfirm == 'Pending' ? 'blue': 'green'">{{group.isConfirm}}</td>
                  <td>
                    <button class="btn btn-warning" [routerLink]="['/main/group-details/', group.groupId]">
                        <i class="fa fa-eye"></i>
                    </button>

                    <button class="btn btn-info" (click)="assignBoard(group.groupId)">
                        <i class="fa fa-users"></i>
                    </button>
                    <button class="btn btn-primary" (click)="showEditModal(group.groupId)">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ba-card>
      </div>
    </div>
  </div>
  
  <!--Modal add and edit-->
  <div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)"
  (onHidden)="handler('onHidden', $event)">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: pink">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Assign Board</h4>
        <span *ngIf="!isLoadBoard" class="fa fa-refresh fa-spin"></span>
        <button type="button" class="close pull-right" (click)="hidemodalAddEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="board && boardEnrollments && isLoadBoard">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">chair</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="board.boardId" name="boardId" />
              <select class="form-control" [(ngModel)]="boardEnrollments.chair.lecturerId" name="lecturerId" required #chair="ngModel">
                <option value=""></option>
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="chair.valid || (chair.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the chair </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.chair.scorePercent" name="scorePercent" required #scorePercentchair="ngModel">
                <option value=""></option>
                <option *ngFor="let s of scorePercents">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentchair.valid || (scorePercentchair.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Secretary</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.secretary.lecturerId" name="lecturerId" required #secretary="ngModel">
                <option value=""></option>
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="secretary.valid || (secretary.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the secretary </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.secretary.scorePercent" name="scorePercent" required #scorePercentSecretary="ngModel">
                <option value=""></option>
                <option *ngFor="let s of scorePercents">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentSecretary.valid || (scorePercentSecretary.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Supervisor</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.supervisor.lecturerId" name="lecturerId" required #supervisor="ngModel">
                <option value=""></option>
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="supervisor.valid || (supervisor.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the supervisor </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.supervisor.scorePercent" name="scorePercent" required #scorePercentSupervisor="ngModel">
                <option value=""></option>
                <option *ngFor="let s of scorePercents">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentSupervisor.valid || (scorePercentSupervisor.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Reviewer</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.reviewer.lecturerId" name="lecturerId" required #reviewer="ngModel">
                <option value=""></option>
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="reviewer.valid || (reviewer.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the reviewer </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.reviewer.scorePercent" name="scorePercent" required #scorePercentReviewer="ngModel">
                <option value=""></option>
                <option *ngFor="let s of scorePercents">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentReviewer.valid || (scorePercentReviewer.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>

          
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hideAddEditModal()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.valid || isSaved">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>