<div class="widgets">
    <img *ngIf="!isLoadData" style=" position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="/assets/images/loading.gif"
    />
    <div class="row" *ngIf="isLoadData">

      <br/>
      <br/>
      <br/>
  
      <div class="col-lg-12 col-md-12">
        <ba-card cardTitle="groups" isAddButton=true baCardClass="with-scroll table-panel">
          <div class="horizontal-scroll">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Students</th>
                  <th>Project</th>
                  <th>Supervisor</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of queryResult.items; let rowIndex = index">
                  <td>{{rowIndex+1}}</td>
                  <td >
                      <ul *ngFor="let student of group.studentInformations">
                          {{ student.name }}
                      </ul>
                  </td>
                  <td>{{group.project.title}}</td>
                  <td>{{group.lecturer.name}}</td>
                  <td [ngClass]="group.isConfirm == 'Pending' ? 'blue': 'green'">{{group.isConfirm}}</td>
                  <td>
                    <button class="btn btn-warning" [routerLink]="['/main/group-details/', group.groupId]">
                        <i class="fa fa-eye"></i>
                    </button>

                    <button class="btn btn-info" (click)="assignBoard(group.groupId)">
                        <i class="fa fa-users"></i>
                    </button>

                    <button *ngIf="isLecturer" class="btn btn-alert" (click)="mark(group.boardId)">
                      <i class="fa fa-gavel"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ba-card>
      </div>
    </div>
  </div>
  <pagination *ngIf="isLoadData" [total-items]="queryResult.totalItems" 
[page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
  <!--Modal add and edit-->
  <div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)"
  (onHidden)="handler('onHidden', $event)">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: #7FFFD4">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Assign Board</h4>
        <span *ngIf="!isLoadBoard" class="fa fa-refresh fa-spin"></span>
        <button type="button" class="close pull-right" (click)="hidemodalAddEdit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="board && boardEnrollments && isLoadBoard">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">chair</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="board.boardId" name="boardId" />
              <select class="form-control" [(ngModel)]="boardEnrollments.chair.lecturerId" name="boardEnrollments.chair.lecturerId" required #chair="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="chair.valid || (chair.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the chair </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.chair.scorePercent" name="boardEnrollments.chair.scorePercent" required #scorePercentChair="ngModel">
                <option *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentChair.valid || (scorePercentChair.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Secretary</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.secretary.lecturerId" name="boardEnrollments.secretary.name" required #secretary="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="secretary.valid || (secretary.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the secretary </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.secretary.scorePercent" name="boardEnrollments.secretary.scorePercent" required #scorePercentSecretary="ngModel">
                <option *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentSecretary.valid || (scorePercentSecretary.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Supervisor</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.supervisor.lecturerId" name="boardEnrollments.supervisor.name" required #supervisor="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="supervisor.valid || (supervisor.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the supervisor </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.supervisor.scorePercent" name="boardEnrollments.supervisor.scorePercent" required #scorePercentSupervisor="ngModel">
                <option value=""></option>
                <option *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentSupervisor.valid || (scorePercentSupervisor.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Reviewer</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.reviewer.lecturerId" name="boardEnrollments.reviewer.name" required #reviewer="ngModel">
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="reviewer.valid || (reviewer.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the reviewer </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Score percent</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="boardEnrollments.reviewer.scorePercent" name="boardEnrollments.reviewer.scorePercent" required #scorePercentReviewer="ngModel">
                <option *ngFor="let s of scorePercents" value="{{s}}">{{ s }}</option>
              </select>
              <small [hidden]="scorePercentReviewer.valid || (scorePercentReviewer.pristine && !addEditForm.submitted)" class="text-danger">
                Please specify the score percent </small>
            </div>
          </div>
          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hidemodalAddEdit()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.valid || isSaved">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal Mark-->
<div bsModal #modalMark="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true" (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)"
(onHidden)="handler('onHidden', $event)">

<div class="modal-dialog modal-lg">
  <div class="modal-content" style="background: #7FFFD4">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Mark This Group</h4>
      <span *ngIf="!isLoadMark" class="fa fa-refresh fa-spin"></span>
      <button type="button" class="close pull-right" (click)="hidemodalMark()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal form-label-left" novalidate #markForm="ngForm" (ngSubmit)="saveMark(markForm)"
        *ngIf="boardEnrollment && isLoadMark">

        <input type="hidden" [(ngModel)]="boardEnrollment.boardEnrollmentId" name="boardEnrollment.boardEnrollmentId" />
        <input type="hidden" [(ngModel)]="boardEnrollment.percentage" name="boardEnrollment.percentage" />
        <input type="hidden" [(ngModel)]="boardEnrollment.lecturerId" name="boardEnrollment.lecturerId" />
        <input type="hidden" [(ngModel)]="boardEnrollment.boardID" name="boardEnrollment.boardID" />

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Mark</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" [(ngModel)]="boardEnrollment.score" name="boardEnrollment.score" required #mark="ngModel"/>
            <small [hidden]="mark.valid || (mark.pristine && !markForm.submitted)" class="text-danger">
              Please specify the score </small>
          </div>  
        </div>

        <!--Recommendation-START-->
        <div *ngIf="isReviewer" class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Recommendation</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea type="text"class="form-control" [(ngModel)]="boardEnrollment.recommendation" name="boardEnrollment.recommendation" required #recommendation="ngModel"></textarea>
            <small [hidden]="recommendation.valid || (recommendation.pristine && !recommendation.submitted)" class="text-danger">
                Please specify the recommendation </small>
          </div>  
        </div>

        <input *ngIf="!isReviewer" type="hidden" class="form-control" [(ngModel)]="boardEnrollment.recommendation" name="boardEnrollment.recommendation" #recommendation="ngModel"/>
        <!--Recommendation-END-->
        
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Comment</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea type="text"class="form-control" [(ngModel)]="boardEnrollment.comment" name="boardEnrollment.comment" required #comment="ngModel"></textarea>
            <small [hidden]="comment.valid || (comment.pristine && !comment.submitted)" class="text-danger">
                Please specify the comment </small>
          </div>  
        </div>

        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type="button" (click)="hidemodalMark()" class="btn btn-primary">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!markForm.valid || isSaved">Save</button>
            <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>