<div class="widgets">
  <img *ngIf="!isLoadData" style=" position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" src="/assets/images/loading.gif"
  />
  <div class="row" *ngIf="isLoadData">
    <div class="col-lg-12 col-md-12">
      <button class="btn btn-success" style="float: right;" (click)="showAddModal()" translate>Add</button>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="col-lg-12 col-md-12">
      <ba-card cardTitle="groups" isAddButton=true baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Project</th>
                <th>Supervisor</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of queryResult.items; let rowIndex = index">
                <td>{{rowIndex+1}}</td>
                <td>{{group.groupName}}</td>
                <td>{{group.project.title}}</td>
                <td>{{group.lecturer.name}}</td>
                <td>{{group.isConfirm}}</td>
                <td>
                  <button class="btn btn-primary" (click)="showEditModal(group.groupId)">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                  <button class="btn btn-danger" (click)="deleteGroup(group.groupId)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ba-card>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" (onShow)="handler('onShow', $event)" (onShown)="handler('onShown', $event)" (onHide)="handler('onHide', $event)"
  (onHidden)="handler('onHidden', $event)">

  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: pink">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/Edit group</h4>
        <span *ngIf="!isLoadGroup" class="fa fa-refresh fa-spin"></span>      
        <button type="button" class="close pull-right" (click)="hideAddEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="isLoadGroup">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
          *ngIf="group">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Group Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="group.groupId" name="groupId" />
              <input type="text" #groupName="ngModel" [(ngModel)]="group.groupName" name="groupName" class="form-control">
              <small [hidden]="groupName.valid || (groupName.pristine && !addEditForm.submitted)" class="text-danger"> Maximum length is 30 </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Quarter</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.quarterId" name="quarterId" required #quarter="ngModel">
                <option value=""></option>
                <option *ngFor="let q of quarters" value="{{q.quarterId}}">{{ q.quarterName }}</option>
              </select>
              <small [hidden]="quarter.valid || (quarter.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the quarter </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Major</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.majorId" (change)="onMajorChange()" name="majorId" required #major="ngModel">
                <option value=""></option>
                <option *ngFor="let m of majors" value="{{m.majorId}}">{{ m.majorName }}</option>
              </select>
              <small [hidden]="major.valid || (major.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the major </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Supervisor</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.lecturerId" (change)="onLecturerChange()" name="lecturerId" required #lecturer="ngModel">
                <option value=""></option>
                <option *ngFor="let l of lecturers" value="{{l.lecturerId}}">{{ l.name }}</option>
              </select>
              <small [hidden]="lecturer.valid || (lecturer.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the lecturer </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Project</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select class="form-control" [(ngModel)]="group.projectId" name="projectId" required #project="ngModel">
                <option value=""></option>
                <option *ngFor="let p of projects" value="{{p.projectId}}">{{ p.title }}</option>
              </select>
              <small [hidden]="project.valid || (project.pristine && !addEditForm.submitted)" class="text-danger"> Please specify the project </small>
            </div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Students</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <ss-multiselect-dropdown [settings]="mySettings" [ngModelOptions]="{standalone: true}" [options]="allEnrollments" [(ngModel)]="enrollments"></ss-multiselect-dropdown>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>

            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" disabled [(ngModel)]="enrollments" name="studentEmail" class="form-control" />
            </div>
          </div>

          <div *ngIf="isAdmin" class="ln_solid"></div>
          <div *ngIf="isAdmin" class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select id="status" class="form-control" [(ngModel)]="group.isConfirm" name="status" required #status="ngModel">
                <option value=""></option>
                <option *ngFor="let st of typeStatus">{{ st }}</option>
              </select>
            </div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="hideAddEditModal()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid || isClicked">Save</button>
              <span *ngIf="isClicked" class="fa fa-refresh fa-spin"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>