<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li>
        <a routerLink="/main/home/index" routerLinkActive="active">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li *ngIf="isAdmin" [hidden]="isAdmin">
        <a>
          <i class="fa fa-desktop"></i> Manage
          <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu">
          <li>
            <a routerLink="/main/announcement/index" routerLinkActive="active">Annoucements</a>
          </li>
          <li>
            <a routerLink="/main/role/index" routerLinkActive="active">Roles</a>
          </li>
          <li>
            <a routerLink="/main/student/index" routerLinkActive="active">Students</a>
          </li>
          <li>
            <a routerLink="/main/lecturer/index" routerLinkActive="active">Lecturers</a>
          </li>
          <li>
            <a routerLink="/main/project/index" routerLinkActive="active">Projects</a>
          </li>
          <li>
            <a routerLink="/main/major/index" routerLinkActive="active">Majors</a>
          </li>
        </ul>
      </li>

      <li *ngIf="isAdmin" [hidden]="isAdmin">
        <a>
          <i class="fa fa-desktop"></i> Groups
          <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu">
          <li>
            <a routerLink="/main/group/index" routerLinkActive="active">Pending</a>
          </li>
          <li>
            <a routerLink="/main/confirm-group/index" routerLinkActive="active">Accepted</a>
          </li>
        </ul>
      </li>

      <li *ngIf="isAdmin" [hidden]="isAdmin">
        <a>
          <i class="fa fa-desktop"></i> Enrollments
          <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu">
          <li>
            <a routerLink="/main/enrollment/pending" routerLinkActive="active">Pending</a>
          </li>
          <li>
            <a routerLink="/main/enrollment/accepted" routerLinkActive="active">Accepted</a>
          </li>
        </ul>
      </li>

      <li *ngIf="isAdmin" [hidden]="isAdmin">
        <a>
          <i class="fa fa-desktop"></i> Councils
          <span class="fa fa-chevron-down"></span>
        </a>
        <ul class="nav child_menu">
          <li>
            <a routerLink="/main/group/index" routerLinkActive="active">Manage Councils</a>
          </li>
          <li>
            <a routerLink="/main/grade/index" routerLinkActive="active">Grading</a>
          </li>
        </ul>
      </li>

      <li *ngIf="!isAdmin" [hidden]="isAdmin">
        <a routerLink="/main/project/index" routerLinkActive="active">
          <i class="fa fa-book"></i> Projects
        </a>
      </li>

      <li *ngIf="!isAdmin" [hidden]="isAdmin">
        <a routerLink="/main/lecturer/index" routerLinkActive="active">
          <i class="fa fa-user-circle-o"></i> Lecturers
        </a>
      </li>

    </ul>
  </div>
</div>
