<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i>Home</a>
      </li>
      <li><a><i class="fa fa-desktop"></i> System <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/role/index" routerLinkActive="active">Roles</a></li>
          <li *ngIf="isStudent" [hidden]="isStudent"><a routerLink="/main/student/index" routerLinkActive="active">Students</a></li>
          <li><a routerLink="/main/lecturer/index" routerLinkActive="active">Lecturers</a></li>                  
          <li><a routerLink="/main/project/index" routerLinkActive="active">Projects</a></li>                                    
        </ul>
      </li>
    </ul>
  </div>
</div>