<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/main/dashboard" class="al-logo clearfix"><img style="height: 50px;width:70px" src="assets/images/eiu.png"></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="search">
    <h4 style="color: #ffffff; text-align: center">PMS Portal!!!</h4>
  </div>

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'no-photo' | baProfilePicture ) }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href (click)="logout()"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
</div>
